@font-face {
    font-family: Metal;
    src: url(../font/MetalMania-Regular.ttf);
}

body {
    height: 100%;
    background: linear-gradient(117deg, #000 30.61%, rgba(0, 0, 0, 0.60) 40.95%, rgba(0, 0, 0, 0.00) 63.72%), linear-gradient(256deg, #000 -51.91%, #000 0.13%, rgba(0, 0, 0, 0.00) 60.22%);
    margin: 0;
    padding: 0;
    font-family: Metal;
}
